html, body{
    padding: 0;
	margin: 0;
    height: 130vh;
	font-family: 'genos', sans-serif;
	color: whitesmoke;
	background-color: #000;

}

#site-content {
	min-height: 100vh;
	padding-top: 2vh;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: #000 0 7px 35px 0;
	-moz-box-shadow: #000 0 7px 35px 0;
	box-shadow: #000 0 7px 35px 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(../img/background\ CV.jpg);
}

#site-footer {
	padding: 25px 0;
	font-size: 100%;
	background-color: #2A2A2A;
	position: fixed;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 20vh ;
	background-size: cover;
	background-position:top ;
	background-image: url(../img/Destiny.png);
}
#intro{
	padding: 1%;
	font-size: x-large;
}
h1{
    position: relative;
    padding-left: 20%;
}
h2{
    padding-left: 2%;
}
a{
    color: rgb(217,217,217);
    font-style:italic;
}
li{
    margin-top: 1%;
}


.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	z-index: 2;
	color: wheat;
	font-size: 2em;
	background-color: rgba(221, 160, 221, 0.538);
	position: fixed;
	bottom: 0%;
	width: 100%;
}

.flex-nav {
	align-items:center;
	padding-left: 2vh;
	padding-right: 2vh;
	border-bottom: black;
	border-bottom-width: 5px;
	font-size: .8em;
	color: wheat;
	cursor: pointer;
}
.flex-nav:hover {
	background-color: rgba(86, 27, 86, 0.538);
}



/* Carousel CSS */
.hdcarousel_wrapper {	
	display: grid;
	position: relative;
}
.hdcarousel {
	
	position:relative;
	overflow-x: clip;
}
.hdcarousel_item {
	position:absolute;
	padding: 0;
	object-fit: cover;
	height: 275px;
	border-radius: 14px;
	border: 1px groove #b9bec2d3;
	background: #eeeeee00;
	top: 0;
	transition:all ease-in-out 800ms;
	margin-left: .5vw;
}
.hdcarousel_item_idle {
	position:relative;
	padding: 0;
	object-fit: cover;
	height: 275px;
	border-radius: 14px;
	border: 1px groove #b9bec2d3;
	background: #eeeeee00;
	top: 0;
	transition:all ease-in-out 800ms;
	margin-left: .5vw;
}


table {
	margin-left: .75vw;
	width: 98%;
	border-radius: 12px;
	border-color: rgb(217, 217, 217);
	border-style: groove;
	table-layout: fixed;
}

table th:first-child,
table td:first-child {
	padding-left: 1vw;
	width: 15%; /* Force minimum width */
	
	background-color:#3c393d7b;
	border-radius: 16px;
	font-size: larger;
	
}

.Dropped{

	color: red;
}
.Completed{
	color: greenyellow;
}
.InPro{
	color: darkcyan;
}


.Tcompetence{
	width: 98vw;height:92vh;overflow: hidden;left: 0;top: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
}