html {
	height: 100vh;
	scrollbar-width: none;
}

body {
	padding: 0vh;
	margin: 0vh;
	height: 500vh;
	background: #000000;
	font-family: 'genos', sans-serif;
	cursor: none;
}

.custom-cursor {
	position: absolute;
	width: 50px; /* Increased size */
	height: 50px; /* Increased size */
	background: radial-gradient(circle, rgba(139,30,130,0.3) 25%, rgba(221,99,154,0.8) 40%, rgba(41, 196, 248, 0) 65%);
	border-radius: 50%;
	pointer-events: none;
	z-index: 1000;
	transform: translate(-50%, -50%); /* Center the circle at the middle of the pointer */
}


.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items:center;
	z-index: 2;
	color: wheat;
	font-size: 2em;
	background-color: rgba(221, 160, 221, 0.538);
	position: fixed;
	width: 100%;
}

.flex-nav {
	align-items:center;
	padding-left: 2vh;
	padding-right: 2vh;
	border-bottom: black;
	border-bottom-width: 5px;
	color: wheat;
	cursor: pointer;
}
.flex-nav:hover {
	background-color: rgba(86, 27, 86, 0.538);
}
.scrollgates{
	position: absolute;
	height: 110vh;
	transform: translate(-50%, 0);
}
.scrollgates-focus{
	position: sticky;
	cursor:crosshair ;
	/* background-color: rgba(128, 0, 128, 0.5); */
}
.downarrow{
	height: 50px;
	filter: drop-shadow(0px 0px 3px rgb(221 69 221 / 0.5));
	position: fixed;
	left: 50%;
	z-index: 2;
}
#downarrow1 {
	bottom: 2vh;
}
#downarrow2 {
	bottom: 1vh;
}
#hero-lightpass{
	background-image: url(imgscrl/0000.webp);
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: sticky;
	width: 100%;
	height: 94vh;
	top: 5vh;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 600px) {
	body{
		height: 100vh;
	}
	#downarrow1 {
		display: none;
	}
	#downarrow2 {
		display: none;
	}
	.flex-container {
		flex-direction: column;
		height: 100%;
		background-color: rgb(221, 160, 221);
		/*position: relative;
		margin-top: 20vh;*/
	}
}
